 # Generate DNS configuration
{% for item in dns %}

{% if item.vrf is defined and item.vrf != "" %}
ip name-server vrf {{ item.vrf }} {{ item.dnsserver }}

{% else %}
ip name-server {{ item.dnsserver }}
{% endif %}

{% endfor %}



# Generate NTP configuration
{% for item in ntp %}

{% if item.vrf is defined and item.vrf != "" %}
ntp server vrf {{ item.vrf }} {{ item.ntpserver }} source {{ item.interface }}

{% else %}
ntp server {{ item.ntpserver }} source {{ item.interface }}
{% endif %}

{% endfor %}



# Generate Username configuration
{% for item in username %}

username {{ item.user }} priv {{ item.priv }} secret {{ item.password }}

{% endfor %}



# Generate VLAN configuration
{% for item in vlans %}

vlan {{ item.vlanid }}
  name {{ item.name }}

{% endfor %}



# Generate Domain configuration
{% for item in domain %}

dns domain {{ item.name }}

{% endfor %}