{% for item in anycast %}

vlan {{ item.vlanid }}
  name {{ item.name }}

{% endfor %}


{% for item in anycast %}

int vlan {{ item.vlanid }}
  {% if item.vrf is defined and item.vrf != "" %}
  vrf {{ item.vrf }}
  ip address virtual {{ item.ipaddress }}

  {% else %}

  ip address virtual {{ item.ipaddress }}
  {% endif %}

{% endfor %}
